
/*
    GENERIC STYLES
*/
html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50%;
}

.contact-text {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(100, 65, 0, 0.3);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.contact-text h2 {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 500;
    font-size: 1.3em;
    letter-spacing: 0pt;
    word-spacing: 0pt;
}

.contact-text h2 span {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    color: #13161b;
    font-weight: 900;
    font-size: 1.5em;
    font-variant: small-caps;
    letter-spacing: 0.4pt;
    word-spacing: 0.3pt;
}

.contact-text p {
    color: #13161b;
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

.contact-text form {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #66809b;
    padding: 12px 12px;
    width: 70%;
    border: 1px solid #808080;
    margin: 2% auto;
    border-radius: 7px;
    background: rgb(143, 165, 189);
    box-shadow: 2px 3px 3px 0px rgba(0,0, 0, 0.3);
    font-family: "Raleway", sans-serif;
}

.contact-text {
    width: 60%;
    padding: 10px;
    border-radius: 8px;
    margin: 0px auto;
    background-color: rgba(156, 129, 104, 0.849);
    box-shadow: -1px -1px 1px 0 rgba(0, 0, 0, 1), 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
}

.contact-text input[type="text"] {
    font-size: 15px;
    outline: none;
    font-weight: 600;
    color: #000000;
    padding: 2% 1% 2% 7%;
    width: 80%;
    border-top: 1px solid #090b0d;
    border-right: 2px solid #424549;
    border-bottom: 2px solid #424549;
    border-left: 1px solid #090b0d;
    margin: 10px 1em;
    border-radius: 7px;
    background: #ffffff;
    box-shadow: inset 0px 3px 0px 0px rgba(5, 5, 5, 0.15);
    font-family: "Raleway", sans-serif;
}

.contact-text input[type="text"]:hover {
    box-shadow: 0 0 18px rgba(100, 65, 0, 0.8);
}